
body{

    footer{
    .map{
        height: 550px;
    }
    
    .map-container{
        cursor: pointer;
    }
    #map.remove-pointer{
        pointer-events: none;
    }
  
        .footer-bg{
            text-align: center;
            background-color: #2D2E32;
            color: white;
            .footer-content
			{
                
                @media (max-width: 767px)
				{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                
                .footer-info
				{
				
					margin-left: auto;
					margin-right: auto;
					
                    text-align: center;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .col-xs-2
					{
                        padding-top: 5px;
                    }
                    img
					{
                        display: inline-block;
                        height: 50px;
                    }
                    h6
					{
                        font-weight: 300;
                        text-align: left;
                        padding-left: 20px;
                        font-size: 14px;
						font-weight: bold;
                    }
                    @media (max-width: 767px)
					{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        img
						{
                            margin-top: 5px;
                            height: 30px;
                            margin-left: 10%;
                        }
                        h6
						{
                            font-size: 15px;
                        }
                    }
                    @media (max-width: 350px)
					{
                        text-align: center;
                        img{
							
                            margin-top: 5px;
                            height: 30px;
                        }
                        h6
						{
                            text-align: left;
                            padding: 0;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}