header{
    text-align: center;
	.header-top-box
	{
		#object1
		{
			grid-area: obj1;
		}

		#object2
		{
			grid-area: obj2;
		}
		@media screen and (min-width: 768px) 
		{
			margin-top: 15px;
			display: grid;
			grid-template-columns: 10% 30% 20% 25%;
			grid-template-areas:
			"..... obj1  .... obj2";
			font-size: 25px;
		}
		.fa-phone
		{
			background-color: black;
			color: yellow;
			font-size: 30px;
			border: 2px solid;
			border-radius: 25px;
			border-color: black;
		}
		@media screen and (max-width: 768px) 
		{
			position: relative;
			top: -25px;
			margin-top: 15px;
			display: grid;
			grid-template-columns: 100%;
			grid-template-areas:
				"obj1"
				"obj2";
			font-size: 25px;
			grid-gap: 20px;
		}
		.fa-phone
		{
			background-color: black;
			color: yellow;
			font-size: 30px;
			border: 2px solid;
			border-radius: 25px;
			border-color: black;
		}
		color: #333;
	}
    .header-top-bar{

        background-color: #F6F6F6;;
        ul{
            display: inline;
            max-width: 1200px;
//            .mobile{
//                display: none;
//            }
            li{
                display: inline-block;
                font-size: 13px;
                padding: 5px 30px;
                line-height: 50px;
                border-left: 1px solid #E2E6E7;
                color: #999;
                img{
                    margin-top: -2px;
                    height: 15px;
                }
            }
            li:first-child {
                    border-left: 1px solid #E2E6E7;
                    border-right: none;
                }
            li:last-child {
                    border-left: 1px solid #E2E6E7;
                    border-right: 1px solid #E2E6E7;
                }
        }
//        .no-mobile{
//            @media (max-width: 767px){
//                display: none;
//            }
//        }
//        .mobile{
////            display: none;
//            @media (max-width: 767px){
//                display: block;
//                text-align: left;
//                border: none;
//                li{
//                    border: none;
//                    padding: 0;
//                }
//                li:first-child {
//                    border: none;
//                }
//                li:last-child {
//                    border: none;
//                }
//            }
//        }
    }
    
    .header-container
	{
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas: 
			"logo-container "
			"switch";
		.logo-container
		{
			grid-area: logo-container;
		}
		.mobile-menu-switch
		{
			grid-area: switch;
			position: relative;
			top: 15px;
			@media screen and (min-width: 768px) 
			{
				display: none;
			}

			@media screen and (max-width: 768px) 
			{

			}
		}

		.menuitems
		{
			@media screen and (max-width: 768px) 
			{
				padding-top: 5px;
				display: grid;
				font-weight: bold;
				grid-template-columns: 100%;
				grid-template-rows: 40px;
				grid-gap: 15px;

				grid-template-areas:
					"msg1"
					"msg2"
					"msg3"
					"msg4"
					"msg5"
					"msg6";

				a
				{
					padding-top: 20px;
					padding-bottom: 5px;
					border-bottom-style: solid;
					border-bottom-color: black;
					border-bottom-width: 3px;
				} 
				a:hover
				{
					background-color: #333;
					
				}
			}

					
			@media screen and (min-width: 768px) 
			{
				padding-top: 5px;
				display: grid;
				font-weight: bold;
				grid-template-columns:  13% 13% 15% 15% 10% 10%;
				grid-gap: 15px;

				grid-template-areas:
				" msg1 msg2 msg3 msg4 msg5 msg6";

				.logo-container
				{
					grid-area: logo;

					img
					{
						height: 35px;
					}
				}

				a
				{
					padding-top: 20px;
				}
			}
				.msg1
				{
					grid-area: msg1;
				}
				.msg2
				{
					grid-area: msg2;
				}
				.msg3
				{
					grid-area: msg3;
				}
				.msg4
				{
					grid-area: msg4;
				}
				.msg5
				{
					grid-area: msg5;
				}
				.msg6
				{
					grid-area: msg6;
				}
		}
	}
    
    .fa
	{
        font-size: 15px;
        color: #999;
        padding-right: 3px;
    }
}