header{
	
	text-align: center;
	.header-top-box
	{
		background-color: #F1F1F1;
		#object1
		{
			grid-area: obj1;
		}

		#object2
		{
			grid-area: obj2;
		}
		@media screen and (min-width: 768px) 
		{
			height: 45px;
			padding-top: 5px;
			display: grid;
			grid-template-columns: 50% 10% 40%;
			grid-template-areas:
			" obj1  .... obj2";
			font-size: 18px;
		}
		@media screen and (max-width: 768px) 
		{
			display: grid;
			grid-template-columns: 100%;
			grid-template-areas:
				"obj1"
				"obj2";
			font-size: 25px;
			grid-gap: 20px;
		}
		.fa-phone
		{
			background-color: black;
			color: yellow;
			font-size: 30px;
			border: 2px solid;
			border-radius: 25px;
			border-color: black;
		}
		color: #333;
	}

    
.header-container
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
		"switch"
		"menuitems";
	
	.logo-container
	{
		grid-area: logo-container;
	}
	.menuitems
	{
		grid-area:menuitems;
	}
	.mobile-menu-switch
	{
		grid-area: switch;
		
		@media screen and (min-width: 768px) 
		{
			display: none;
		}

		@media screen and (max-width: 768px) 
		{

		}
	}

	.menuitems
	{
		@media screen and (max-width: 768px) 
		{
			display: grid;
			font-weight: bold;
			grid-template-columns: 100%;
			grid-template-rows: 30px;
			grid-gap: 25px;
			grid-template-areas:
				"logo"
				"...."
				"msg1"
				"msg2"
				"msg3"
				"msg4"
				"msg5"
				"msg6"
				"....";

			a:hover
			{
				background-color: orange;
			}
		}
		
		@media screen and (min-width: 768px) and (max-width: 1000px) 
		{
			display: grid;
			font-weight: bold;
			grid-template-columns: 50% 50%;
			grid-template-rows: 30px;
			grid-gap: 25px;
			grid-template-areas:
				"logo logo"
				".... ...."
				".... ...."
				".... ...."
				".... ...."
				".... ...."
				"msg1 msg2"
				"msg3 msg4"
				"msg5 msg6"
				".... ....";
			.logo-container
			{
				width: 96%;

			}
			a:hover
			{
				background-color: orange;
			}
		}
					
		@media screen and (min-width: 1000px) 
		{
			margin-top: 15px;
			margin-bottom: 15px;
			display: grid;
			font-weight: bold;
			grid-template-columns: 2.4% 24.7% 10% 10% 10% 10% 10% 10% 10%;
			grid-template-areas: 
				".... logo .... msg1 msg2 msg3 msg4 msg5 msg6";
			.logo-container
			{
				img
				{
					height: 35px;
				}
			}

			a
			{
				padding-top: 20px;
			}
			
			a:hover
			{
				background-color: orange;
			}
		}
			.logo-container
			{
				grid-area: logo;
				@media screen and (max-width: 768px) 
				{
					margin-left: auto;
					margin-right: auto;
				}
			}
			.styling
			{	
			}
			.msg1
			{
				grid-area: msg1;
			}
			.msg2
			{
				grid-area: msg2;
			}
			.msg3
			{
				grid-area: msg3;
			}
			.msg4
			{
				grid-area: msg4;
			}
			.msg5
			{
				grid-area: msg5;
			}
			.msg6
			{
				grid-area: msg6;
			}
		}
	}
    
    .fa
	{
        font-size: 15px;
        color: #999;
        padding-right: 3px;
    }
}