
.breadcrumb
{	
	font-size: 16px;
	
	@media screen and (min-width: 280px) and (max-width: 768px)
	{
		height: 100px;
	}

	.path
	{
		grid-area: path;
		a
		{
			color: black;
		}
	}

	.current
	{
		grid-area: current;
	}


	@media screen and (min-width: 768px) and (max-width: 999px)
	{
		height: 35px;
		padding-top: 5px;
		display: grid;
		grid-template-columns: 8% 57% 35%;
		grid-template-areas:
		" current  .... path";
		font-size: 17px;
	}

	@media screen and (min-width: 999px) and (max-width: 1400px)
	{
		height: 35px;
		padding-top: 7px;
		display: grid;
		grid-template-columns: 20% 40% 40%;
		grid-template-areas:
		" current  .... path";
		font-size: 18px;
	}

	@media screen and (min-width: 1400px)
	{
		height: 35px;
		padding-top: 5px;
		display: grid;
		grid-template-columns: 15% 55% 30%;
		grid-template-areas:
		" current  .... path";
		font-size: 18px;
	}
	@media screen and (max-width: 768px) 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas:
			"current"
			"path";
		font-size: 18px;
		grid-gap: 20px;
	}
}

header{
	text-align: center;
	.header-top-box
	{
        width: 100%;
      
		background-color: #F1F1F1;
		color: #333;
        display: inline-block;
        
 
        
        @media screen and (min-width: 250px) and (max-width: 650px)
		{
            padding-top: 15px;
            height: 150px;

            .template-phone1
            {
                width: 100%;
            }
            .blank
            {
                display: none;
            }
            .template-phone2
            {
                margin-top: 15px;
                width: 100%;
            }
		}
        @media screen and (min-width: 768px) and (max-width: 900px)
		{
            height: 50px;

            .template-phone1
            {
                float: left;
                width: 40%;
            }
            .blank
            {
                float: left;
                width: 25%;
            }
            .template-phone2
            {
                float: left;
                width: 35%;
            }
		}
        @media screen and (min-width: 901px) and (max-width: 1100px)
		{
            height: 50px;

            .template-phone1
            {
                float: left;
                width: 33%;
            }
            .blank
            {
                float: left;
                width: 37%;
            }
            .template-phone2
            {
                float: left;
                width: 27%;
            }
		}
        @media screen and (min-width: 1100px) and (max-width: 1600px)
		{
            height: 50px;

            .template-phone1
            {
                float: left;
                width: 26vw;
            }
            .blank
            {
                float: left;
                width: 50vw;
            }
            .template-phone2
            {
                float: left;
                width: 21vw;
            }
		}
        @media screen and (min-width: 1600px)
		{
            height: 50px;

            .template-phone1
            {
                float: left;
                width: 17vw;
            }
            .blank
            {
                float: left;
                width: 65vw;
            }
            .template-phone2
            {
                float: left;
                width: 15vw;
            }
		}
		.template-phone1
		{
            
			grid-area: obj1;
			i
			{
                margin-top: 5px;
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 25px;
			}
		}
        .blank
        {
            color: #F1F1F1;
        }

		.template-phone2
		{
			i
			{
                margin-top: 5px;
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 25px;
			}
		}
	
		.fa-phone
		{
			background-color: black;
			color: yellow;
			font-size: 25px;
			border: 2px solid;
			border-color: black;
		}
	}
	
.header-container
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
		"switch"
		"menuitems";
	
	.logo-container
	{
		grid-area: logo-container;
	}
	.menuitems
	{
		grid-area:menuitems;
	}
	.mobile-menu-switch
	{
		grid-area: switch;
		@media screen and (min-width: 768px) 
		{
			display: none;
		}

		@media screen and (max-width: 768px) 
		{
			width: 50px;
			margin-left: auto;
			margin-right: 20px;
			
		}
	}

	.menuitems
	{
		@media screen and (max-width: 768px) 
		{
			position: relative;
			top: -15px;
			display: grid;
			font-weight: bold;
			grid-template-columns: 100%;
			grid-template-rows: 20px;
			grid-gap: 10px;
			grid-template-areas:
				"...."
				"logo"
				"msg1"
				"msg2"
				"msg3"
				"msg4"
				"msg5"
				"msg6";
		
			a
			{
				font-size: 18px;
			}
		}
		
		@media screen and (min-width: 768px) and (max-width: 999px) 
		{
			display: grid;
			font-weight: bold;
			grid-template-columns: 49% 49%;
			grid-template-rows: 10px;
			grid-gap: 15px;
			grid-template-areas:
				".... ...."
				"logo logo"
				"msg1 msg2"
				"msg3 msg4"
				"msg5 msg6"
				".... ....";
			.logo-container
			{
				width: 80%;
				height: 100px;
				margin-left: auto;
				margin-right: auto;
			}
			a
			{
				font-size: 16px;
			}
		}
		@media screen and (min-width: 999px) and (max-width: 1200px) 
		{
			margin-top: 15px;
			margin-bottom: 15px;
			display: grid;
			grid-gap: 25px;
			font-weight: bold;
			grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
			grid-template-areas: 
			"logo  msg1 msg2 msg3 msg4 msg5 msg6";
			grid-gap: 15px;

			a
			{
				font-size: 15px;

			}
		}		
		@media screen and (min-width: 1201px) 
		{
			margin-top: 15px;
			margin-bottom: 15px;
			display: grid;
			grid-gap: 15px;
			font-weight: bold;
			grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
			grid-template-areas: 
				"logo msg1 msg2 msg3 msg4 msg5 msg6";
			grid-gap: 15px;


			a
			{
				font-size: 15px;
				position: relative;
				top: 5px;
			}
		}
			.logo-container
			{
				grid-area: logo;
				@media screen and (max-width: 768px) 
				{
					margin-left: auto;
					margin-right: auto;
					width: 90%;
				}
				@media screen and (min-width: 999px) and (max-width: 1200px)
				{
					height: 75px;
					margin-left: 10px;
				}
				@media screen and (min-width: 1201px) 
				{
					height: 75px;
					margin-left: 20px;
                    margin-top: 15px;
				}
			}
			.styling
			{	
                padding: 30px 8px 0 10px;
                margin: 0 10px;
                color: black;
                  
			}
			.styling:hover
			{
                @media screen and (min-width: 1000px) 
				{
                    border-top-color: black;
                    border-top-width: 3px;
                    border-top-style: solid;
                    border-bottom-color: black;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                }
			}
			.msg1
			{
				grid-area: msg1;
			}
			.msg2
			{
				grid-area: msg2;
			}
			.msg3
			{
				grid-area: msg3;
			}
			.msg4
			{
				grid-area: msg4;
			}
			.msg5
			{
				grid-area: msg5;
			}
			.msg6
			{
				grid-area: msg6;
			}
		}
	}
    
    .fa
	{
        font-size: 15px;
        color: #999;
        padding-right: 3px;
    }
}