
.breadcrumb
{	
	font-size: 16px;
	
	@media screen and (min-width: 280px) and (max-width: 768px)
	{
		height: 100px;
	}

	.path
	{
		grid-area: path;
		a
		{
			color: black;
		}
	}

	.current
	{
		grid-area: current;
	}


	@media screen and (min-width: 768px) and (max-width: 999px)
	{
		height: 35px;
		padding-top: 5px;
		display: grid;
		grid-template-columns: 8% 57% 35%;
		grid-template-areas:
		" current  .... path";
		font-size: 17px;
	}

	@media screen and (min-width: 999px) and (max-width: 1400px)
	{
		height: 35px;
		padding-top: 7px;
		display: grid;
		grid-template-columns: 10% 62% 28%;
		grid-template-areas:
		" current  .... path";
		font-size: 18px;
	}

	@media screen and (min-width: 1400px)
	{
		height: 35px;
		padding-top: 5px;
		display: grid;
		grid-template-columns: 15% 55% 30%;
		grid-template-areas:
		" current  .... path";
		font-size: 18px;
	}
	@media screen and (max-width: 768px) 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas:
			"current"
			"path";
		font-size: 18px;
		grid-gap: 20px;
	}
}

header{
	text-align: center;
	.header-top-box
	{
		background-color: #F1F1F1;
		color: #333;
		.template-phone1
		{
			
			grid-area: obj1;
			i
			{
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 25px;
			}
		}

		.template-phone2
		{
			grid-area: obj2;
			i
			{
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 25px;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 999px)
		{
			height: 48px;
			padding-top: 5px;
			display: grid;
			grid-template-columns: 50% 10% 40%;
			grid-template-areas:
			" obj1  .... obj2";
			font-size: 18px;
		}
		
		@media screen and (min-width: 999px) and (max-width: 1400px)
		{
			height: 48px;
			padding-top: 5px;
			display: grid;
			grid-template-columns: 35% 35% 30%;
			grid-template-areas:
			" obj1  .... obj2";
			font-size: 16px;
		}
		@media screen and (min-width: 1400px) 
		{
			height: 48px;
			padding-top: 5px;
			display: grid;
			grid-template-columns: 30% 45% 25%;
			grid-template-areas:
			" obj1  .... obj2";
			font-size: 18px;
		}
		@media screen and (max-width: 768px) 
		{
			.fa-phone
			{
				display: none;
			}
			display: grid;
			grid-template-columns: 100%;
			grid-template-areas:
				"...."
				"obj1"
				"obj2"
				"...";
			font-size: 20px;
			grid-gap: 20px;
		}
		.fa-phone
		{
			background-color: black;
			color: yellow;
			font-size: 25px;
			border: 2px solid;
			border-color: black;
		}
	}
	
.header-container
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
		"switch"
		"menuitems";
	
	.logo-container
	{
		grid-area: logo-container;
	}
	.menuitems
	{
		grid-area:menuitems;
	}
	.mobile-menu-switch
	{
		grid-area: switch;
		@media screen and (min-width: 768px) 
		{
			display: none;
		}

		@media screen and (max-width: 768px) 
		{
			width: 50px;
			margin-left: auto;
			margin-right: 20px;
			
		}
	}

	.menuitems
	{
		@media screen and (max-width: 768px) 
		{
			position: relative;
			top: -15px;
			display: grid;
			font-weight: bold;
			grid-template-columns: 100%;
			grid-template-rows: 20px;
			grid-gap: 10px;
			grid-template-areas:
				"...."
				"msg1"
				"msg2"
				"msg3"
				"msg4"
				"msg5"
				"msg6";
		
			a
			{
				font-size: 18px;
			}
		}
		
		@media screen and (min-width: 768px) and (max-width: 999px) 
		{
			display: grid;
			font-weight: bold;
			grid-template-columns: 49% 49%;
			grid-template-rows: 10px;
			grid-gap: 15px;
			grid-template-areas:
				".... ...."
				"logo logo"
				"msg1 msg2"
				"msg3 msg4"
				"msg5 msg6"
				".... ....";
			.logo-container
			{
				width: 80%;
				height: 100px;
				margin-left: auto;
				margin-right: auto;
			}
			a
			{
				font-size: 16px;
			}
		}
		@media screen and (min-width: 999px) and (max-width: 1200px) 
		{
			margin-top: 15px;
			margin-bottom: 15px;
			display: grid;
			grid-gap: 25px;
			font-weight: bold;
			grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
			grid-template-areas: 
			"logo  msg1 msg2 msg3 msg4 msg5 msg6";
			grid-gap: 15px;

			a
			{
				font-size: 15px;

			}
		}		
		@media screen and (min-width: 1201px) 
		{
			margin-top: 15px;
			margin-bottom: 15px;
			display: grid;
			grid-gap: 15px;
			font-weight: bold;
			grid-template-columns: 30% 10% 10% 10% 10% 10% 10%;
			grid-template-areas: 
				"logo msg1 msg2 msg3 msg4 msg5 msg6";
			grid-gap: 15px;


			a
			{
				font-size: 15px;

			}
		}
			.logo-container
			{
				grid-area: logo;
				@media screen and (max-width: 768px) 
				{
					margin-left: auto;
					margin-right: auto;
					width: 90%;
				}
				@media screen and (min-width: 999px) and (max-width: 1200px)
				{
					height: 100px;
					margin-left: 10px;
				}
				@media screen and (min-width: 1201px) 
				{
					height: 100px;
					margin-left: 20px;
				}
			}
			.styling
			{	
				  transition: 0.2s;
				  color: orange;
				  text-decoration: none;
				  border-right: 2px dotted transparent;
				  padding: 30px 8px 0 10px;
				  margin: 0 10px;
			}
			.styling:hover
			{
				background-color: lightgrey;
				padding-bottom: 24px;
			}
			.msg1
			{
				grid-area: msg1;
			}
			.msg2
			{
				grid-area: msg2;
			}
			.msg3
			{
				grid-area: msg3;
			}
			.msg4
			{
				grid-area: msg4;
			}
			.msg5
			{
				grid-area: msg5;
			}
			.msg6
			{
				grid-area: msg6;
			}
		}
	}
    
    .fa
	{
        font-size: 15px;
        color: #999;
        padding-right: 3px;
    }
}