.contact-content{
	max-width: 100%;
    margin-top: 50px;
    span{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        display: block;
        margin-bottom: 20px;
    }
    .icon{
        float: left;
        margin-right: 10px;
    }
    .text{
        padding-bottom: 50px;
        float: left;
        color: rgb(138,138,138);
        font-weight: bold;
    }
}

.contactinfo
{
	max-width: 100%;

	text-align: left;

}
.contact-form{

    padding-top: -10px;
    input,
    textarea{
        border: 1px solid rgb(230,233,234);
        display: block;
        margin-bottom: 20px;
        width: 100%;
        outline: none;
        padding: 15px;
    }
	.inputborder
	{
		border: 2px solid black;
		border-radius: 4px;
	}
    input.input-small
	{
		   height: 48px;
    }
    textarea{
        height: 184px;
        max-width: 100%;
        max-height: 184px;
    }
}
.submit-button{
    height: 56px;
    width: 146px;
    display: block;
    float: right;
    background-color: black ; 
    text-align: center;
    a{
        display: block;
        line-height: 56px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
    }
}
.send-button{
    max-width: 1070px;
    padding-bottom: 30px;
    margin-top: 15px;
    text-align: left;
    span{
        text-align: left;
        color: rgb(138,138,138);
        font-weight: bold;
    }
}