

.about-us-zastepcze
{
    font-family: 'Open Sans';
	display: block;
	margin-bottom: 25px;
	
	#abttext
	{
		width: 95%;
		margin: 5px auto;
		text-align: center;
		display:block;
		grid-area: abttext;
	}
	#abtimg
	{
		margin-top: 20px;
		grid-area: abtimg;
	}
	
	@media screen and (min-width: 768px) 
	{
		display: grid;
		grid-template-columns: 57% 38%;
		@media screen and (min-width: 768px) and (max-width: 1000px)
		{
			grid-template-rows: 410px;
		}
		@media screen and (min-width: 1001x) and (max-width: 1400px)
		{
			grid-template-rows: 350px;
		}
		
		grid-gap: 25px;
		grid-template-areas:
		" abttext  abtimg"; 
	}
}

.blacktext
{
	color: black;
}

.counter-background{
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    .counter{
        max-width: 1100px;
        font-size: 17px;
        p{
        text-transform: uppercase;
        font-weight: bold;
        }
        span{
            font-size: 45px;
            color: BLACK;
        }
    }
}

.about-us-slider{
	
	@media screen and (max-width: 768px)
	{
		 max-width: 100%;
	}
	a
	{
		font-size: 0px;
	}
	padding-top: 30px;
	background-color: #F1F1F1;
    padding-bottom: 50px;
    .about-us-first-slide{
        background-image: url(../img/4.jpg);
        background-size: cover;
        height: 300px;
    }
}